body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#characterDisplay {
  font-size: 30vw; /* Adjust as needed */
  text-align: center;
  margin-bottom: 2px;
}

#bufferDisplay {
  font-size: 10vw; /* Adjust as needed */
  text-align: center;
}

@media (max-width: 600px) {
  #characterDisplay {
    font-size: 30vw; /* Adjust for smaller screens */
  }

  #bufferDisplay {
    font-size: 15vw; /* Adjust for smaller screens */
  }
}

.slider-input{
  width: 200px;
  height: 30px;
}